

body {
    background: linear-gradient(to left, #0099F7 , #F11712);
    text-align: center;
    transform: scale(.8);
    margin-top: -60px;
    background-image: url("http://bigtoeandthejam.com/Pictures/GigPhotosKeep/phi-golden-ratio.png");
    font-size: 24px;
    background-attachment: fixed;
    background-size: cover;
}
main {
  width:  900px;
  height: 950px;
  text-align: center;
  background-color: #F8F8FF;
  border-radius: 60px;
  margin: auto;
  border-style: groove;
  border-width: 10px;
  transform: scale(.9);
  font-family: monospace;
  font-size: 20px;
}

#forwardButton {
    padding: 20px
    border: 1px dotted gray;
    font-size: 24px;
    border-radius: 60px;
    margin: 0px;
    border-style: groove;
    border-width: 50px;
}

#forwardButton:hover{
  background-color: #ffffff;
}

#backwardButton {
  padding: 20px
  border: 1px dotted gray;
  font-size: 24px;

  border-radius: 60px;
  margin: 0px;
  border-style: groove;
  border-width: 50px;
}

#backwardButton:hover{
  background-color: #ffffff;
}



h1 {
  margin: 0;
  text-align: center;
  position: relative;
}
.phiImages {
    width:  500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 60px;
    margin: 0px;
    border-style: groove;
    border-width: 50px;
}
.gitUser {
  display: inline;
  margin-right: 10px;

}
.shoutOut {
  font-size: 170%;
  margin: 0px;
}


/*below from w3 schools to style spans as circles (border-radius 50%) rather than boxes*/
.dot {
  text-align: center;
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/
}

.active {
  background-color: #717171;
}
